* {
  margin: 0;
}

.app {
  background-color: #deb887;
}

.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #565656;
  object-fit: contain;
  border-bottom: 1px solid #deb887;
  display: flex;
  justify-content: space-between;
}
.app_headerImage {
  padding: 20px;
  height: 20px;
  object-fit: contain;
}

.app_signUp {
  display: flex;
  flex-direction: column;
}

.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postRight {
  margin-left: 20px;
}

.app_loginContainer {
  display: flex;
}

.app_profileAvatar {
  margin: 5px;
}

/* .app_modalImage {
	object-fit: contain;
	width: 20%;
} */
