.imageUpload {
  background-color: #5e1224;
  position: sticky;
  bottom: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageUpload_content {
  object-fit: contain;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.imageUpload_progress {
  width: 100%;
}

.imageUpload_caption {
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
}

.filelabel {
  cursor: pointer;
  text-align: center;
  color: wheat;
  align-items: center;
  padding: 5px;
}

/* .filelabel {
  margin-left: auto;
  margin-right: auto;

  border: 2px dashed black;
  border-radius: 5px;
  display: block;
  padding: 5px;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
  margin: 0;
}
.filelabel i {
  display: block;
  font-size: 30px;
  padding-bottom: 5px;
}
.filelabel i,
.filelabel .title {
  color: white;
  transition: 200ms color;
}
.filelabel:hover {
  border: 2px solid wheat;
}
.filelabel:hover i,
.filelabel:hover .title {
  color: wheat;
} */
#FileInput {
  display: none;
  cursor: pointer;
}

.imageUpload_preview {
  width: 100px;
  height: 100px;
  margin: 0 auto 15px;
}

.imageUpload__left {
  display: flex;
  flex-direction: column;
  flex: 0;
}

.imageUpload__right {
  display: flex;
  flex-direction: column;
  flex: 0.6;
}

.imageUpload__left > img {
  height: 100px;
  width: 100px;
}

.imageUpload__username {
  color: wheat;
  padding: 10px;
  justify-content: center;
  font-weight: 500;
}

.imageUpload__options {
  display: flex;
  justify-content: space-around;
}
