.imageUpload {
  background-color: wheat;
  position: sticky;
  bottom: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageUpload_content {
  object-fit: contain;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.imageUpload_progress {
  width: 100%;
}

.imageUpload_caption {
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
}

.filelabel {
  cursor: pointer;
  text-align: center;
  color: #5e1224;
  align-items: center;
  padding: 5px;
}

#FileInput {
  display: none;
  cursor: pointer;
}

.imageUpload_preview {
  width: 100px;
  height: 100px;
  margin: 0 auto 15px;
}

.imageUpload__left {
  display: flex;
  flex-direction: column;
  flex: 0;
}

.imageUpload__right {
  display: flex;
  flex-direction: column;
  flex: 0.6;
}

.imageUpload__left > img {
  height: 100px;
  width: 100px;
  border-radius: 999px;
  margin-top: 5px;
  padding: 5px;
}

.imageUpload__username {
  color: #5e1224;
  padding: 10px;
  justify-content: center;
  font-weight: 500;
}

.imageUpload__options {
  display: flex;
  justify-content: space-around;
}
